calib_demo_out/
data/
final_lab_data/
input_folder/
lab_data/
new_calib_test/
newcalib_test
__pycache__/

run4/
run8/
run9/
coinc_time_shift_calib.py
compare_clm.py
mincread.py
minipet_crystals.npz
minipet_geom.meta.txt
minipet_geom.xend.bin
minipet_geom.xstart.bin
minipet_lab.py
minipet_test.ipynb
PET_lab_solutions.ipynb
PET_lab.ipynb
PET_lab.pdf
run4_260922-145921.crystal_lut.npy
run4_260922-145921.slm.lr5
run4_260922-153612.slm.fixed.lr5
run4_260922-153612.slm.lr5
test_1.ipynb
test.ipynb
test_2.ipynb
time_shift_calibration_demo.ipynb
volview.py
crystal_lut_demo.ipynb